body{
    background-color: blanchedalmond;
}
h1{
    font:100px;
    font-display:'';
    color:'Red';
    }
 div{
    display: inline;
 }   
 h1{
    font:100px;
    font-display:'';
    color:'Red';
    }
 div{
    display: inline;
 }  h1{
    font:100px;
    font-display:'';
    color:'Red';
    }
 div{
    display: inline;
 }  h1{
    font:100px;
    font-display:'';
    color:'Red';
    }
 div{
    display: inline;
 }  h1{
    font:100px;
    font-display:'';
    color:'Red';
    }
 div{
    display: inline;
 }  h1{
    font:100px;
    font-display:'';
    color:'Red';
    }
 div{
    display: inline;
 }  